:root {
  --border-color: #007bff;
  --white-space-px: 20px;
}

h1 {
  text-transform: uppercase;
  margin: var(--white-space-px);
}

.current-page-link {
  border-radius: 10px;
  color: white !important;
  background-color: var(--border-color);
}

.success-message {
  text-align: center;
  color: green;
}

.error-message {
  text-align: center;
  font-weight: bold;
  color: red;
}


.navbar {
  border: 1px solid var(--border-color);
}

.navbar-nav {
  margin-left: auto;  
}

.card {
  width: 18rem;
  border: 1px solid var(--border-color);
  margin: var(--white-space-px);
}

.card-header {
  font-weight: bold;
  text-transform: uppercase;
}

.card-label {
  margin-top: var(--white-space-px);
  font-weight: bold;
}
.card-label:first-of-type {
  margin-top: 0;
}


.number-input {
  width: 15rem;
  text-align: right;
}
  
.bank-page {
  padding: 0.5rem 1rem;
}

.key-value-row {
  margin-bottom: 10px;
}

.atm-controls {
  margin-top: var(--white-space-px);
}

.btn, button {
  margin: 0 auto;
  margin-top: var(--white-space-px);
  display: block;
  text-align: center;
}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button { margin-left: 10px; } 

.table {
  width: 600px;
  margin: 0 auto;
  margin-top: var(--white-space-px);
}

/* a#tip-create-account { */
.tip {  
  position: relative;
}
.tip:hover::after {
  position: absolute;
  top: 3em;
  right: 0;
  min-width: 200px;
  border: 1px #808080 solid;
  padding: 8px;
  color: black;
  background-color: var(--light);
  z-index: 1;
}
a#tip-create-account:hover::after {
  content: "Create an account to manage your money.";
}
a#tip-deposit:hover::after {
  content: "Deposit money to your account";
}
a#tip-withdraw:hover::after {
  content: "Withdraw money from your account";
}
a#tip-all-data:hover::after {
  content: "View a list of available accounts";
}
